
/*Qurxinta qoralka*/
body {
  font-size:0.875em; /*1em=16px*/
  font-family:"Times New Roman",serif;
  line-height:1.4em;
}

h1 {font-family:"Times New Roman",Garamond,Georgia,serif;font-weight:lighter;font-size:2em;}

h2 {font-family:"Times New Roman",Garamond,Georgia,serif;font-weight:lighter;font-size:1.8em;}

h3 {font-family:"Times New Roman",Garamond,Georgia,serif;font-weight:lighter;font-size:1.6em;}

/*ballarinta ereyada*/
dt {font-weight:600;}

/*ereyada oo dhexda ku urruuriyey*/
main {margin:auto;max-width:600px;}

/*badhan billow ku dhiga*/
nav {
  margin:auto;
  max-width:600px;
  border-bottom:1px solid #dfdfdf;
}

nav header {
  display:flex;
  justify-content:space-between;
}

#faashan {
  padding:1px;
  border:1px solid #47ceeb;
  border-radius:50px;
  font-size:0.3em;
}

#faashan:hover {background-color:#99ceeb;}

#badhan-kor {
  position:fixed;
  bottom:0em;
  right:0em;
  margin:1em;
  width:2em;
  padding:0.875em;
  border:1px solid #000000;
  font-size:0.875em;
  text-align:center;
  text-decoration:none;
  line-height:0.875em;
  color:#000000;
  background-color:#ffffff;
}

#badhan-kor:hover {color:#ffffff;background-color:#000000;}

footer {
  display:flex;
  justify-content:space-between;
  margin:auto;
  max-width:600px;
  color:#a3a3a3;
}

/*xogta Haanso aruuri*/
#fariin a {
  display:inline-block;
  position:fixed;
  top:-5px;
  left:5px;
  padding:0.2em 1em;
  font-size:0.825em;
  text-decoration:none;
  border:1px solid #47ceeb;
  border-radius:4px;
  color:#fff;
  background-color:#47ceeb;
}

#fariin a:hover {background-color:#99ceeb}

#fariin a span {
  font-size:1.5em;
}
